<div class="section"></div>
  <main>
    <center>
      <div class="section"></div>

      <h5 class="indigo-text">Connectez vous à votre compte</h5>
      <div class="section"></div>

      <div class="container">
        <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

          <form class="col s12" method="post">
            <div class='row'>
              <div class='col s12'>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <input class='validate' type='email' name='email' id='email' ng-model='vm.email' ng-required='true' placeholder="Saisir votre email"/>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <input class='validate' type='password' name='password' id='password'  ng-model='vm.password' ng-required='true' placeholder="Saisir votre mot de passe"/>
              </div>
              <label style='float: right;'>
								<a class='pink-text' href='#!'><b>Mot de passe oublié?</b></a>
							</label>
            </div>

            <br />
            <center>
              <div class='row'>
                <button type='submit' name='btn_login' ng-click='vm.login()' ng-disabled="formConnect.$invalid" class='col s12 btn btn-large waves-effect indigo'>Valider</button>
              </div>
            </center>
          </form>
        </div>
      </div>
      <a ng-click='vm.createAccount()' ng-disabled="formConnect.$invalid" href="#!">Créer un compte</a>
    </center>

    <div class="section"></div>
    <div ng-show="(vm.loginMessage)" class="alert" ng-class="{'alert-danger': vm.loginMessage.type == 'error', 'alert-success': vm.loginMessage.type == 'success', 'alert-info': vm.loginMessage.type == 'info'}">
        <h4><span class="glyphicon glyphicon-exclamation-sign pull-left"></span>&nbsp;{{vm.loginMessage.title}}</h4>
        <p>{{vm.loginMessage.message}}</p>
    </div>
    <div class="section"></div>
  </main>
