<nav ng-controller='navbarController as vm'>
  <div class="nav-wrapper">
    <img class="brand-logo" width="55" src="assets/img/logo.png">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="active" ng-show='vm.isLogged'>
                    <a href="badges.html">Traitement&nbsp;</a>
                </li>
                <li class='disabled' ng-show='vm.isLogged'>
                    <a href="#/"><span class="glyphicon glyphicon-user"></span>&nbsp;John Doe</a>
                </li>
                <li ng-show='vm.isLogged'>
                    <a href="" ng-click='vm.logout()'><span class="glyphicon glyphicon-log-out"></span>&nbsp;Sign out</a>
                </li>
                <li class='active' ng-hide='vm.isLogged'>
                    <a href="#/login"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Sign in</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
